img {
    width: 100px;
    border-radius: 10px;
  }
  .cart-item-details {   float:right;  padding:5px;}
  button,input{background:#345;color:#fff;border-radius:3px;display:inline;padding:5px;text-align: center;}
  input{width:60%;background:#e0e0e0;color:#000;}
  .price{font-size:16px;font-weight: bold;}  